body {
    font: 14px/25px Georgia, serif;
    --cell-width: 50px;
}

body {
    margin: auto;
    padding: 27px;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}

tr {
    height: 26px; /* Empty lines would be ignored. */
}

* {
    box-sizing: border-box;
    font: inherit;
}

th, td {
    border: solid 1px #cbcbcc;
    letter-spacing: -0.1ex;
    white-space: nowrap;
    padding: 0 0.2em;
}

.squish {
    max-width: var(--cell-width);
    min-width: var(--cell-width);
    overflow: hidden;
}

td span, th span {
    padding-left: 1em;
}

.small {
    color: #626974;
    font-size: 12px;
    line-height: 24px; /* Line height would make cells taller. */
}

.Unactive, .FinishedLeave { background-color: #fbf1db; }

.BeganEnter { background-color: #d5e3b5;}

.FinishedEnter { background-color: #ceebcb; }

.BeganUse { background-color: #f1adc7; }

.FinishedUse { background-color: #f1ade8
}

.BeganSwitchTo { background-color: #b993cc; }

.FinishedSwitchTo { background-color: #d7b5df; }

.BeganLeave { background-color: #f2cc8f; }


